# Database connection URL for PostgreSQL
DATABASE_URL=

# JWT secret key for authentication
JWT_SECRET=

# Gemini serverless API key
GEIMI_API_KEY=
MODEL_1="gemini-3.1-flash-lite"
MODEL_2="gemma-4-31b-it"
MODEL_3="gemma-4-26b-a4b-it" 

# Cloudflare R2 storage configuration
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_ENDPOINT=
R2_BUCKET_NAME=

# Gmail configuration for sending emails
GMAIL_USER=
GMAIL_APP_PASS=

# Public URL of the application
NEXT_PUBLIC_APP_URL="https://sicuan.vercel.app"